server:
  port: 8080

spring:
  datasource:
    url: jdbc:sqlite:./mappingstudio.db
    driver-class-name: org.sqlite.JDBC

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect

